body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.owl-carousel.pxp-props-carousel-right-stage-2 li.alice-carousel__stage-item.__active {
  width: 100px !important;
}

.neighbourhoods_slider{
  width: 475px;
}

.neighbourhoods_slider .pxp-prop-card-explore{
  width: 445px;
}

.post-navbar-items{
  margin-right: 20px;
}
.post-navbar{
  font-size: 30px;
  padding: 5px 15px;
}
/* .modal.show .modal-dialog
{
  max-width: 500px;
} */
.modal-header {
  border-bottom: none;
  padding: 15px 15px 0px 15px;
}
.modal-body {
  padding: 0px 40px 40px 40px;

}
.logo-signupModal{
  margin: 0px 10px 3px 55px;
  width: 100px;
}
.text-center{
  color: #3F3F3F;
}
  
.signupCards {

  height: 200px;
 border-radius: 5px;
  background: #fff;
  border: 1px solid #EDEDF2;
  margin-bottom: 25px;

}
.vendor-img{
  max-width: 100px;
  max-height: 100px;
  margin: 10px 20px 11px 155px;

}
.user{
  font-size: 25px;
}
.user-description{
  font-size: 14px;
}
