body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.owl-carousel.pxp-props-carousel-right-stage-2 li.alice-carousel__stage-item.__active {
  width: 100px !important;
}

.neighbourhoods_slider{
  width: 475px;
}

.neighbourhoods_slider .pxp-prop-card-explore{
  width: 445px;
}
